:root {
  --gray: rgba(125,126,121,255);
  --darkGray: rgba(53,53,53,255)

}

body {
  background-image: url(./image/background.jpg);
}

.card {
  background-color: var(--darkGray);
}

.gray {
  color:var(--gray)
}
