:root {
  --gray: rgba(125,126,121,255);
  --darkGray: rgba(53,53,53,255)

}
/* *{
  border:2px solid black;
} */
main {
  margin: 2% 0;
}
body {
  background-image: url(./image/background.jpg);
}

a:link {
  color: red;
}
.primary {
  background-color: var(--darkGray);
  border: 1px var(--gray) solid;
  color: var(--gray)
}

.secondary {
  background-color: var(--gray);
  border: 1px var(--darkGray) solid;
}

.profile {
height: 35rem;
margin: auto;
}

.container {
  margin-top: 1%;
}

.card {
width: 30rem;
margin: auto;
border: 2px var(--gray) solid;
}

@media screen (min-width:) {
  body {
    padding: 0 50%;
  }
}